.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border-end-end-radius: 12px !important;
  border-end-start-radius: 12px !important;
  border: 1px solid #bfbfbf !important;
  height: 200px;
}

.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content .ck-toolbar {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  border: 1px solid #bfbfbf !important;
}
.ck-rounded-corners
  .ck.ck-editor__top
  .ck-sticky-panel
  .ck-sticky-panel__content,
.ck.ck-editor__top
  .ck-sticky-panel
  .ck-sticky-panel__content.ck-rounded-corners {
  border: none;
}
